//Main
$fontPrimary: "Inter";
$backgroundColor: #221b3a;
$primaryColor: #7860d7;
$secondaryColor: #05c9b7;
$primaryTextColor: #ffffff;
$footerTextColor: #8d7fbc;
$containerExtraLarge: 1110px;

//Modal
$scrollBarThumbColor: #53477d;
$scrollBarTrackColor: #221a3c;
$tableHeaderButtonColor: #342a56;
$tableHeaderButtonHoverColor: #251d42;
$tableHeaderButtonTextColor: #a094c6;
$tableHeaderCellTextColor: #d2cbe9;
